<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="hikeForm" (ngSubmit)="onSubmit(hikeForm.value)">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="location">Location</label>
            <input
              type="text"
              id="location"
              formControlName="location"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <textarea
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" style="margin-right: 3px;">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
